
<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>T_T</title>
</head>

<body>
<div>
    <p>this is test for name </p>
    <p>hi ~~{{ name }}</p>
</div>

<div>
    <p>this is test for condition </p>
    {% if condition is True %}

    <p>name = {{condition}} condition successded!</p>
    {% endif %}
</div>

<div>
    <p>this is test for iterable object </p>
    {% for i in iter %}
    <p>{{i}} ! </p>
    {% endfor %}
</div>

    {% include "folder/scatter.html" %}


</body>
</html>